body,
html {
  margin: 0;
}

.map {
  width: 10rem;
  position: fixed;
  bottom: 2rem;
  left: 1rem;
}

.map img {
  width: 100%;
}

#pointer {
  position: fixed;
  bottom: 5rem;
  left: 6rem;
}

#msg {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 20rem;
  min-height: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
}

#modal {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 40rem;
  min-height: 85vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
  #modal {
    top: 2rem;
    left: 1rem;
    width: calc(100vw - 4rem);
    min-height: 40vh;
  }
}
