body,
html {
  margin: 0;
}

.map {
  width: 10rem;
  position: fixed;
  bottom: 2rem;
  left: 1rem;
}

.map img {
  width: 100%;
}

#pointer {
  position: fixed;
  bottom: 5rem;
  left: 6rem;
}

#msg {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 20rem;
  min-height: 1rem;
  background-color: #ffeec8;
  border: 0.5rem solid #cccdaa;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  color: black;
}

#modal {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100vw - 6rem);
  min-height: 20vh;
  background-color: #ffeec8;
  border: 0.5rem solid #cccdaa;
  box-sizing: border-box;
  border-radius: 8px;
  display: none;
  padding: 1rem;
  color: white;
  z-index: 1;
  color: black;
}

#modal img {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  transform: translate(50%, -50%);
  cursor: pointer;
  z-index: 2;
}

@media only screen and (max-width: 1000px) {
  #msg {
    top: 1rem;
    right: 1rem;
    width: 14rem;
    font-size: 0.9rem;
    color: black;
  }
  #modal {
    width: 90vw;
    font-size: 0.9rem;
  }
}
