* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.dark-mode-button {
  outline: none;
  overflow: visible !important;
}

.ant-btn-icon-only.ant-btn-lg > * {
  font-size: 25px;
  padding-top: 2px;
}

.vertical-timeline-light::before {
  background: black !important;
}
